/* --------- formatting navbar ---------------- */
.custom-nav {
  background-color: #003155;
}
/*-- color for the nav link and positioning in the navbar --*/
.custom-nav .nav-link {
  color: #fff;
  margin-right: 30px;
}
.bg-blue {
  background-color: #003155;
}
.footertext {
  font-family: impact,;
  font-size: 1rem;
}
.myform {
  width: 300px;
}
.card-title {
  font-family: Impact, Georgia, serif;
}
@media only screen and (max-width: 768px) {
	.display-4 {
		font-size: 2rem;
	}
  .myform {
    width: 100%;
  }
}
body {
  background-color: black;
}
.image-resize {
  max-width:100%;
  height: auto;
}
/*-- width and height for the image --*/
.fire {
  width: 25%;
  height: auto;
}
.img-fluid {
  width: 250;
  height: auto;
}
